.oeb-positive
  color: #c8ff1e

.oeb-negative
  color: #ffa3d1

.oeb-serif
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif

div.top-container
  max-width: 1100px
  width: auto
  margin: 0 auto

div.player-icon-and-text-box
  display: inline-block
  position: relative
  > div.player-icon-and-text-box-main
    background-color: #111
    display: flex
    align-items: center
    border: 1px solid $grey
    border-radius: $border-radius
    padding: 0.75rem
    > div:first-child
      margin-right: 0.75rem
    > div:not(:first-child)
      text-align: left
  > div.player-icon-and-text-box-damage
    @extend .oeb-serif
    position: absolute
    top: 50px
    width: 100%
    font-size: 34px
    font-weight: bold
    color: #e80309
    text-align: center
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px  1px 1px rgba(0, 0, 0, 0.5), 1px -1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5), 1px 0px 1px rgba(0, 0, 0, 0.5), 0px 1px 1px rgba(0, 0, 0, 0.5), -1px 0px 1px rgba(0, 0, 0, 0.5), 0px -1px 1px rgba(0, 0, 0, 0.5)

.rivals-toggle
  user-select: none
  align-items: stretch
  display: flex

  > div
    font-size: 0.875em
    display: flex
    border-color: $white1
    border-style: solid
    border-width: 1px
    align-items: center
    padding: 4px 8px
    cursor: pointer

    &.rivals-toggle-active
      background-color: $white1
      color: $black1
      cursor: default

      strong
        color: currentColor

    &:not(.rivals-toggle-active):hover
      background-color: $black2

    &:first-child
      border-top-left-radius: $border-radius-big
      border-bottom-left-radius: $border-radius-big

    &:not(:first-child):not(:last-child)
      border-right-style: none
      border-left-style: none

    &:last-child
      border-top-right-radius: $border-radius-big
      border-bottom-right-radius: $border-radius-big

    > div:first-child
      margin-right: 8px

i.particle
  position: fixed
  top: 0
  left: 0
  border-radius: 50%
  pointer-events: none
  opacity: 0
  z-index: 1

span.second-place-text
  text-shadow: 0 0 3px cyan

span.first-place-text
  background-image: linear-gradient(90deg, rgba(186,148,62,1) 0%, rgba(236,172,32,1) 20%, rgba(186,148,62,1) 39%, rgba(249,244,180,1) 50%, rgba(186,148,62,1) 60%, rgba(236,172,32,1) 80%, rgba(186,148,62,1) 100%)
  background-size: 300%
  background-position: right
  background-clip: text
  -webkit-background-clip: text
  color: transparent
  animation: backgroundslide 6s infinite

@keyframes backgroundslide
  0%
    background-position: right
  50%
    background-position: left
  100%
    background-position: right

.has-moon:after
  font-size: 30px
  content: ''
  animation-name: moon
  animation-duration: 1s
  animation-timing-function: linear
  animation-iteration-count: infinite

@keyframes moon
  0%
    content: '🌑'
  12%
    content: '🌒'
  25%
    content: '🌓'
  37%
    content: '🌔'
  50%
    content: '🌕'
  62%
    content: '🌖'
  75%
    content: '🌗'
  87%
    content: '🌘'
  100%
    content: '🌑'

button.has-check
  &:after
    padding-left: 4px
    content: "✔"

button.has-clock
  &:after
    padding-left: 4px
    font-size: 24px
    content: ""
    animation-name: clock
    animation-duration: 4s
    animation-timing-function: linear
    animation-iteration-count: infinite

@keyframes clock
  0%
    content: '🕛'
  4%
    content: '🕧'
  8%
    content: '🕐'
  12%
    content: '🕜'
  16%
    content: '🕑'
  21%
    content: '🕝'
  25%
    content: '🕒'
  29%
    content: '🕞'
  33%
    content: '🕓'
  37%
    content: '🕟'
  42%
    content: '🕔'
  46%
    content: '🕠'
  50%
    content: '🕕'
  54%
    content: '🕡'
  58%
    content: '🕖'
  63%
    content: '🕢'
  67%
    content: '🕗'
  71%
    content: '🕣'
  75%
    content: '🕘'
  79%
    content: '🕤'
  84%
    content: '🕙'
  88%
    content: '🕥'
  92%
    content: '🕚'
  96%
    content: '🕦'
  100%
    content: '🕛'

// https://github.com/polkadot-js/extension/blob/a0897fdec84037ac56d5277bb9b5f528bf82a2d1/packages/extension-ui/src/components/Identicon.tsx#L45-L48
svg.identicon
  > circle:first-of-type
    display: none
